*{
    background-color: antiquewhite;
    text-align: center;
}


input{
    border-radius: 5px;
    border: 2px solid black ;
    width: 200px;
    height: 50px;
    background-color: #F3F4F6 ;
  
}
#wrapper{
    height:500px;
    width:400px;
    margin:200px auto;
    background-color:#1f2029;
    border-radius:10px;
    padding:30px;
    border-radius: 20px;
}

button{
    margin: 20px;
    padding: 20px;
    border-radius: 30px;
    cursor: pointer;
    background-color:#10B981;
}

button:hover{
    cursor:pointer;
}

